html { 
    height: 0;
    overflow: hidden;
}


.full-page-image {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    & img {
        width: 100%;
        height: 100%;
        z-index: 0;
        filter: brightness(60%);
    }
}

.container {
    padding: 30px;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
}

.logo {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 5px 10px black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 14.1 */
        -moz-animation: fadein 4s; /* Firefox < 16 */
            -ms-animation: fadein 4s; /* Internet Explorer */
                -o-animation: fadein 4s; /* Opera < 14.1 */
                    animation: fadein 4s;
}

.underbar{
    width: 0;
    height: 5px;
    background: rgba(100,100,200,0);
    //left: -50px;
    top: 20px;
    position: absolute;
    -webkit-transition: 0.5s ease;
}

.title {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 14.1 */
        -moz-animation: fadein 4s; /* Firefox < 16 */
            -ms-animation: fadein 4s; /* Internet Explorer */
                -o-animation: fadein 4s; /* Opera < 14.1 */
                    animation: fadein 4s 1;

    &::before {
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
        -webkit-animation: underlineH 4s 1 forwards; /* Safari, Chrome and Opera > 14.1 */
            -moz-animation: underlineH 4s 1 forwards; /* Firefox < 16 */
                -ms-animation: underlineH 4s 1 forwards; /* Internet Explorer */
                    -o-animation: underlineH 4s 1 forwards; /* Opera < 14.1 */
                        animation: underlineH 4s 1 forwards;
    }
    &::after{
        border-left: 2px solid;
        margin-top: 10px;
        content: "";
        height: 3px;
        left: 50%;
        position: absolute;
        background: #fff;
        top: 100%;
        width: 0;
        -webkit-animation: underlineV 4s 1 forwards; /* Safari, Chrome and Opera > 14.1 */
            -moz-animation: underlineV 4s 1 forwards; /* Firefox < 16 */
                -ms-animation: underlineV 4s 1 forwards; /* Internet Explorer */
                    -o-animation: underlineV 4s 1 forwards; /* Opera < 14.1 */
                        animation: underlineV 4s 1 forwards;
        
    }
    
}

.grid {
    // max-width: 500px !important;
    width: 500px !important;
    padding: 10px;
    position: relative;
    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, #fff 100%, #fff 100%),
                        linear-gradient(to bottom, #fff 100%, #fff 100%),
                        linear-gradient(to right, #fff 100%, #fff 100%),
                        linear-gradient(to bottom, #fff 100%, #fff 100%);
    background-size:    100% 2px,
                        2px 100%,
                        100% 2px,
                        2px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
                            
    -webkit-animation: box 3.5s 1; /* Safari, Chrome and Opera > 13.5.1 */
         -moz-animation: box 3.5s 1; /* Firefox < 16 */
            -ms-animation: box 3.5s 1; /* Internet Explorer */
                -o-animation: box 3.5s 1; /* Opera < 13.5.1 */
                    animation: box 3.5s 1;
    animation-play-state: running;

    border-radius: 2px;

    & .item {
        color: #fff;
        transition: 0.5s ease 0s, left 0.5s ease 0s;
        -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 13.1 */
            -moz-animation: fadein 3s; /* Firefox < 16 */
                -ms-animation: fadein 3s; /* Internet Explorer */
                    -o-animation: fadein 3s; /* Opera < 13.1 */
                        animation: fadein 3s 1;

        &:hover {
            background-color:  rgba(155, 155, 155, 0.3);
        }
    }
}

@keyframes box {
    0% {
        background-size:    0 2px,
                            2px 0,
                            0 2px,
                            2px 0;
    }
    25% {
        background-size:    100% 2px,
                            2px 0,
                            0 2px,
                            2px 0;
    }
    50% {
        background-size:    100% 2px,
                            2px 100%,
                            0 2px,
                            2px 0;
    }
    75% {
        background-size:    100% 2px,
                            2px 100%,
                            100% 2px,
                            2px 0;
    }
    100% {
        background-size:    100% 2px,
                            2px 100%,
                            100% 2px,
                            2px 100%;
    }
}
@-moz-keyframes box {
    0% {
        background-size:    0 2px,
                            2px 0,
                            0 2px,
                            2px 0;
    }
    25% {
        background-size:    100% 2px,
                            2px 0,
                            0 2px,
                            2px 0;
    }
    50% {
        background-size:    100% 2px,
                            2px 100%,
                            0 2px,
                            2px 0;
    }
    75% {
        background-size:    100% 2px,
                            2px 100%,
                            100% 2px,
                            2px 0;
    }
    100% {
        background-size:    100% 2px,
                            2px 100%,
                            100% 2px,
                            2px 100%;
    }
}
@-webkit-keyframes box {
    0% {
        background-size:    0 2px,
                            2px 0,
                            0 2px,
                            2px 0;
    }
    25% {
        background-size:    100% 2px,
                            2px 0,
                            0 2px,
                            2px 0;
    }
    50% {
        background-size:    100% 2px,
                            2px 100%,
                            0 2px,
                            2px 0;
    }
    75% {
        background-size:    100% 2px,
                            2px 100%,
                            100% 2px,
                            2px 0;
    }
    100% {
        background-size:    100% 2px,
                            2px 100%,
                            100% 2px,
                            2px 100%;
    }
}

@keyframes underlineH{
    from {width: 0; left: 50%;}
    to {width: 100%; left: 0;}
}
@-moz-keyframes underlineH{
    from {width: 0; left: 50%;}
    to {width: 100%; left: 0;}
}
@-webkit-keyframes underlineH{
    from {width: 0; left: 50%;}
    to {width: 100%; left: 0;}
}

@keyframes underlineV{
    from {height: 0;}
    to {height: 100%;}
}
@-moz-keyframes underlineV{
    from {height: 0;}
    to {height: 100%;}
}
@-webkit-keyframes underlineV{
    from {height: 0;}
    to {height: 100%;}
}